@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quattrocento Sans", sans-serif;
}

.container {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.hidden-xs {
  display: none;
}

.header {
  background-color: #1d2126;
  padding: 15px 0;
}

.nav__list .list__item a {
  display: block;
  width: 80px;
  height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #a4aead;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  border: 1px solid transparent;
}
.nav__list .list__item a:hover {
  border-color: #fff;
}

.search__form {
  height: 30px;
  border: 1px solid #fff;
}
.search__input {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #a4aead;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}
.search__input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #a4aead;
  padding-left: 3px;
}
.search__input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #a4aead;
  padding-left: 3px;
}
.search__input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #a4aead;
  padding-left: 3px;
}
.search__input:focus {
  outline: none;
}
.search__btn {
  display: block;
  width: 30px;
  height: 24px;
  border: none;
  background: url("img/search.svg") no-repeat center;
  align-self: center;
}
.search__btn:hover {
  cursor: pointer;
}

.slider {
  display: none;
  background: url("img/pic.png");
}
.slider__title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 23px;
  margin-bottom: 30px;
}
.slider__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
}
.slider__btn {
  width: 142px;
  height: 43px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
}
.slider__btn:hover {
  background-color: #39a493;
  border-color: #39a493;
}

.about {
  border-bottom: 1px solid #dde1e4;
}

.title::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 33px;
  background-color: #e1e6ea;
  margin-right: 10px;
}

.about__title {
  font-size: 36px;
  font-style: 700;
  text-transform: uppercase;
  color: #292f36;
  margin-top: 82px;
  margin-left: 10px;
  margin-bottom: 69px;
}

.about__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #8d8f92;
}
.about__text p {
  margin-bottom: 40px;
}

.social {
  display: flex;
}

.social__icon {
  width: 58px;
  height: 58px;
  background-color: #c8cdd0;
  margin-left: 2px;
  text-align: center;
  line-height: 96px;
}
.social__icon:hover {
  opacity: 0.7;
}

.about__info,
.goals {
  align-self: start;
}

.goal {
  display: flex;
}

.goal__num {
  width: 45px;
  height: 50x;
  padding: 15px;
  background-color: #39a493;
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
  align-self: start;
}

.goal__title {
  font-size: 18px;
  font-weight: 700;
  color: #292f36;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.goal__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #8d8f92;
  margin-bottom: 38px;
}

.team {
  margin-top: 75px;
  margin-bottom: 100px;
}
.team__title {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #292f36;
  margin-bottom: 65px;
}
.team__member {
  position: relative;
  transition: all 0.5s ease-out;
}
.team__member img {
  width: 100%;
}
.team__member:hover {
  opacity: 0.7;
}
.team__member:hover .member__socials {
  opacity: 1;
}
.team__member:hover .member__name {
  color: #fff;
}
.team__member:hover .member__info {
  background-color: #4e3e45;
}
.team .row {
  justify-content: space-between;
}

.member__info {
  background-color: #e1e6ea;
  margin-top: -4px;
}
.member__name {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292f36;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 12px;
}
.member__about {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #8d8f92;
  padding-left: 15px;
  padding-bottom: 18px;
}
.member__socials {
  display: flex;
  position: absolute;
  top: 33%;
  left: 20%;
  opacity: 0;
}
.member__socials li {
  width: 45px;
  height: 45px;
  background-color: #3a454d;
  margin-left: 1px;
}
.member__socials li img {
  width: 100%;
}

.work {
  background-color: #3a454d;
}
.work__item {
  justify-content: space-between;
  position: relative;
  margin-bottom: 28px;
}
.work__item img {
  width: 100%;
}
.work__item:hover .work__info {
  opacity: 1;
}
.work__title {
  padding-top: 77px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 64px;
}
.work__info {
  opacity: 0;
  width: 262px;
  background-color: #292f36;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding-left: 12px;
  padding-top: 21px;
  padding-bottom: 21px;
  position: absolute;
  top: 68%;
  left: 5%;
}
.work__more {
  display: block;
  align-self: center;
  width: 148px;
  height: 42px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 45px auto;
}
.work__more:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 30.33%;
    max-width: 30.33%;
  }
  .col-md-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
  }
  .col-md-7 {
    flex: 0 0 58.33%;
    min-width: 58.33%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
  }
  .search__form {
    display: flex;
  }
  .slider {
    display: flex;
    height: 662px;
  }
}/*# sourceMappingURL=style.css.map */